# build/artifact dirs
_*
[Bb]uild*/
cmake-build*

# but ensure we don't skip Python files
!__init__.py
!__main__.py
!*.pyi

# and sphinx documentation folders
!docs/sphinx_setup/_*

# developer tools
*.idea
.vscode
.vs/
.vsconan/
.DS_Store

# dump files and logs
logs.*
outputs.*

